html,body{
    overflow-x:hidden;
}
    body{
    margin:0px;
    padding:0px;
    color:black;
    font-family:"ubuntu", "sans-serif";
    letter-spacing: 1.5px;
    background-color:black;
}
.main_menu{
   background-color:rgb(12, 11, 15);
    position:relative;
    padding:0px;
    width:100%;
    outline: black;
    outline-style:ridge;
    min-width:1500px;
}
.website_logo{
    height:60px;
    width:144px;
    position:relative;
    vertical-align: middle;
}

.button{
    font-family:"ubuntu", "sans-serif";
    font-weight:bold;
    height: 50px; 
    border-radius:6px;
    border-color:rgb(12, 11, 15);
    color:rgba(255, 255, 255, 0.541);
    background-color:rgb(12, 11, 15);
    }
.log_in:hover, .local_hostel_services:hover, .home_appliances:hover, .room_rentals:hover, .sign_up:hover{
    color:white;
    margin:0px;
    border-bottom-width: 3px;
    border-bottom-color:rgb(52, 243, 52);
}

.bar{
    font-family:"ubuntu", "sans-serif";
    color:white ;
    letter-spacing: 0.85px;
    font-weight:bolder;
    padding-left: 4px;
    background-color:rgba(66, 57, 94, 0.733);
    border-radius:10px;
    border-color: black;
    outline-width: 0px;
}
.search_bar{
    position:relative;
    width:600px;
    height: 37px;
}
.main{
display:flex;
flex-direction: column;
padding:0px;
}
.main img{
    height:738px;
    width:1100px;
}
.section{
    width:100%;
    display:flex;
    align-items:center;
    margin-bottom:12px;
}
.frame{
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    color:rgba(255, 255, 255, 0.726);
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:rgba(27, 23, 23, 0.938);
    width:420px;
    height:738px;
}

.footer{
    height:100px;
    width:100%;
    min-width:1400px;
    display:flex;
    justify-content: space-around;
    background-color:rgb(12, 11, 15);
    color:rgba(255, 255, 255, 0.281);
    margin-top:15px;
    padding-top:5px;
    font-family:"ubuntu", "sans-serif";
    font-size: 13px;
}
.footer a{
    color:inherit;
}
.footer a:hover{
   color:rgba(0, 0, 255, 0.479);
}